<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balloons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body onload="generateNormalBalloons()">

    <div id="balloon-container"></div>

    <h1 class="valentine-text"> Happy Valentine's Day My Love ❤️</h1>
    
    <p1 class="valentine-text">With the time and distance my love for you is growing stronger day by day. Just waiting to see you by my side.Wishing you love on this lovely day ❤️</p1>

</body>
</html>
