<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valentine's Day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

    <div class="click-text">Click Here 👇</div> <!-- Click Here Above Heart -->
    
    <div class="heart-shape" onclick="goToBalloons()"></div>

</body>
</html>
